* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f9f9f9;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  width: 350px;
  max-width: 350px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
  padding-bottom: 120px;
}

.seta {
  border: none;
  margin-left: 2vh;
  width: 20px;
  border: none;
  border-radius: 50%;
  margin: 0;
  padding: 8px;
  background-color: white;
}

.arrow {
  border: none;
  border-radius: 50%;
}

.back-button h1 {
  margin-left: 10vh;
  border: none;
  border-radius: 50%;
  display: inline;
  height:10px;
  margin-bottom:10px;  
}

h1 {
  font-size: 1.5rem;
  text-align: center;
  align-items: center;
  margin: 0;
  color: #333;
  
}

.form-container {
  margin-top: 20px;
}

h2 {
  font-size: 1.8rem;
  text-align: left;
  margin-bottom: 10px;
  color: #222;
  margin: 0;
  padding: 10px;
}

h2 p {
  padding: 0;
  margin: 0;
}

form input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  border: none;
  
}

.signup-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.signup-button:hover {
  background-color: #0056b3;
}

/* Texto de link */
p {
  text-align: center;
  margin: 15px 0 0;
  font-size: 0.9rem;
}

p a {
  color: #007bff;
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
}

.password-container {
  display: flex;
  align-items: center;
  
}

.fa-solid fa-eye-slash {
  width: 30px;
  border: none;
}
